# Python
__pycache__/
*.py[cod]
*.pyo                                                                                                                                                                                                         

# Environment variables
.env
.env.local
.env.*.local   


nexus.db

backend/tests/test_zhipuai_api.py
frontend/node_modules/
.idea/